@font-face {
	font-family: "WD_ALSRuble";
	src: url('webdebug.ruble/ruble.eot');
	src: url('webdebug.ruble/ruble.eot?#iefix') format('embedded-opentype'),
			 url('webdebug.ruble/ruble.woff') format('woff'),
			 url('webdebug.ruble/ruble.ttf') format('truetype'),
			 url('webdebug.ruble/ruble.svg#ALSRublRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
ruble, .webdebug-ruble-symbol {font-family:"WD_ALSRuble"!important; text-transform:lowercase!important;}